{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ app.user.username }}! ✅</h1>


 {% if emparejamientos is not empty %}
        <h2>Emparejamientos:</h2>
        <ul>
            {% for emparejamiento in emparejamientos %}
                <li> Hola rgr en el sorteo {{ emparejamiento.sorteo.id }} te toca regalar al usuario {{ emparejamiento.usuarioRecibe.username }}. El presupuesto es de {{ emparejamiento.sorteo.presupuesto }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No tienes emparejamientos por el momento.</p>
    {% endif %}

   {% if invitaciones is not empty %}
    <h2>Invitaciones:</h2>
    <ul>
        {% for invitacion in invitaciones %}
            {% set grupoAmigos = invitacion.getGrupoAmigos() %}
            {% if grupoAmigos is not empty %}
                {% set primerGrupo = grupoAmigos.first() %}
                <li>
                    Has recibido una invitación para unirte al grupo de amigos '{{ primerGrupo.getNombre() }}'.
                    <form method="post" action="{{ path('aceptar_invitacion', {'id': invitacion.getId()}) }}">
                        <button type="submit" name="aceptar">Aceptar</button>
                        <button type="submit" name="rechazar">Rechazar</button>
                    </form>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
    


</div>
{% endblock %}
