{# mostrar_buscador_usuarios.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Buscador de Usuarios - {{ sorteo.id }}{% endblock %}

{% block body %}
    <h1>Buscador de Usuarios</h1>
    <p>Añadir usuarios al sorteo: {{ sorteo.id }}</p>

   {# Formulario de búsqueda de usuarios #}
    <form method="post" action="{{ path('buscar_usuarios_sorteo', {'idSorteo': sorteo.id}) }}">
        <label for="username">Nombre de usuario:</label>
        <input type="text" id="username" name="username" required>
        <button type="submit">Buscar</button>
    </form>

{% if usuariosEncontrados is not empty %}

{% for usuario in usuariosEncontrados %}
    
    <li>{{ usuario.username }} - <a href="{{ path('agregar_usuario_sorteo', {'idUsuario': usuario.id, 'idSorteo': sorteo.id}) }}">Agregar al Sorteo</a></li>
{% endfor %}
    
{% endif %}
    {# Lista de resultados de búsqueda de usuarios
    {% if usuariosEncontrados is not empty %}
        <h2>Usuarios Encontrados:</h2>
        <ul>
            {% for usuario in usuariosEncontrados %}
                <li>{{ usuario.username }} - <a href="{{ path('agregar_usuario_sorteo', {'idUsuario': usuario.id, 'isSorteo': sorteo.id}) }}">Agregar al Sorteo</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron usuarios.</p>
    {% endif %} #}
{% endblock %}
