{% extends 'base.html.twig' %}

{% block title %}Sorteo{% endblock %}

{% block body %}


 {# Mostrar mensajes flash de éxito #}
    {% for flashMessage in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {# Mostrar mensajes flash de error #}
    {% for flashMessage in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">
            {{ flashMessage }}
        </div>
    {% endfor %}
    
    <h1>Sorteo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sorteo.id }}</td>
            </tr>
            <tr>
                <th>Presupuesto</th>
                <td>{{ sorteo.presupuesto }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ sorteo.fecha ? sorteo.fecha|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

 {# boton para realizar sorteo #}
    <a href="{{ path('sorteo_realizar', {'id': sorteo.id}) }}">Sortear</a>

    {# Mostrando los emparejamientos #}

    <h2>Emparejamientos</h2>
<table class="table">
        <thead>
            <tr>
                <th>Regalador</th>
                <th>Receptor</th>
            </tr>
        </thead>
        <tbody>
            {% for emparejamiento in sorteo.emparejamientos %}
                <tr>
                    <td>{{ emparejamiento.usuarioRegala.username }}</td>
                    <td>{{ emparejamiento.usuarioRecibe.username }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sorteo_index') }}">back to list</a>

    <a href="{{ path('app_sorteo_edit', {'id': sorteo.id}) }}">edit</a>

    {{ include('sorteo/_delete_form.html.twig') }}
{% endblock %}
