{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
        </tbody>
    </table>

    <h2> Sorteos Finalizados </h2>
    {% for sorteoFinalizado in sorteosFinalizados %}
       <p> Id: {{ sorteoFinalizado.id }} - Presupuesto: {{ sorteoFinalizado.presupuesto }} </p>
    {% endfor %}


    <h2> Sorteos No Finalizados </h2>

    {% for sorteoSinFinalizar in sorteosSinFinalizar %}
        <p> Id: {{ sorteoSinFinalizar.id }} - Presupuesto: {{ sorteoSinFinalizar.presupuesto }} </p>
    {% endfor %}


    <br>

    <a href="{{ path('app_user_index') }}">back to list</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
